    <footer>
       <p class="text-muted credit">&copy; {{ site.time | date: '%Y' }} {{ site.name }} &middot; <a href="https://github.com/hejun-lyne"> Hejun.lyne | Sheme base on Herring Cove</a>&nbsp;{{ site.time }}&nbsp;<a id="cnzz_stat_icon_1000458860"></a>
</p>
    </footer>
 <!-- Bootstrap core JavaScript-->
    <script src="{{ site.baseurl }}/js/jquery-1.11.1.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/js/bootstrap.js"></script>
    <script type="text/javascript" src="{{ site.baseurl }}/js/hc.js"></script>
  	<!-- CNZZ -->
  	<script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1000458860'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s19.cnzz.com/z_stat.php%3Fid%3D1000458860%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>

</body>

</html>
