<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/pygments.css">
  <link href="{{ site.baseurl }}/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/hc.css" rel="stylesheet">
  <link href="{{ site.baseurl }}/css/font-awesome.css" rel="stylesheet">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif] d-->
    </head>
    <body>
<div class="nav-toggle"><i class="fa fa-bars fa-2x"></i> Herring Cove </div>
      <div id = "wrapper">


<div class="navbar navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">{{ site.name }}</p>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
          <li><a href="{{ site.baseurl }}/list.html">笔记 [Notes]</a></li>
          <li><a href="{{ site.baseurl }}/links.html">目录 [Directory]</a></li>
          <li><a href="{{ site.baseurl }}/sites.html">站点 [Sites]</a></li>
          <li><a href="{{ site.baseurl }}/projects.html">作品 [Projects]</a></li>
          <li><a href="{{ site.baseurl }}/about.html">关于 [About]</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



       <!-- Sidebar -->
       <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3></li>
          <hr />
          <li><a href="{{ site.baseurl }}/list.html">笔记 [Notes]</a></li>
          <li><a href="{{ site.baseurl }}/links.html">目录 [Directory]</a></li>
          <li><a href="{{ site.baseurl }}/sites.html">站点 [Sites]</a></li>
          <li><a href="{{ site.baseurl }}/projects.html">作品 [Projects]</a></li>
          <li><a href="{{ site.baseurl }}/about.html">关于 [About]</a></li>
          <hr />
          <div id="links-wrapper">
           <li> <a href="https://dribbble.com/" target="_blank"><i class="fa fa-dribbble" style="display: inline"></i> Dribbble</a></li>
           <li> <a href="https://www.behance.net/" target="_blank"><i class="fa fa-behance" style="display: inline"></i> Behance</a> </li>
           <li> <a href="http://justjavac.com/" target="_blank"><i class="fa fa-code" style="display: inline"></i> 代码之迷</a></li>
         </div>
         <hr />
          <div id="social-wrapper">
           <li> <a href="{{ site.github }}" target="_blank"><i class="fa fa-github-square"></i> github</a> </li>
           <li> <a href="{{ site.diandian }}" target="_blank"><i class="fa fa-file-photo-o"></i> 点点</a> </li>
         </div>
       </ul>
     </div>



     <div class="container">

