    </div>
    <style>
    .showcase-wrapper {background-image: url("{{ site.baseurl }}/images/qingdao_109_s.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
    <div class="showcase-text">
    	<span class="badge lazy"><smaller>青岛</smaller></span><br><span style="text-shadow: 0 2px 1px #333333;">世界，你好！</span><br /><a href="{{ site.baseurl }}/images/qingdao_109_s.jpg" target="_blank"><button type="button" class="btn btn-default showcase-button">View Picture</button><br></a>
    	<!--
        {% for post in site.posts limit: 1 %}
        <span class="badge lazy"><smaller>黄山</smaller></span><br>{{ post.title }}<br><a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">Read More</button></a>
        {% endfor %}
       -->
    </div>
</div>
    <div class="container">

